astropy 
astropy-iers-data 
asttokens 
Bottleneck 
Brotli 
celerite2==0.3.2
certifi 
charset-normalizer 
comm 
contourpy 
cycler 
Cython 
debugpy 
decorator 
exceptiongroup 
executing 
extinction 
fonttools 
greenlet 
idna 
importlib_metadata 
ipykernel 
ipython 
jax 
jaxlib 
jedi 
joblib 
jupyter_client 
jupyter_core 
kiwisolver 
llvmlite 
matplotlib==3.9.2
matplotlib-inline 
#mhps 
#mkl-service==2.4.0
#mkl_fft 
#mkl_random 
ml_dtypes 
nest_asyncio 
numba 
numexpr 
numpy 
opt-einsum 
#P4J 
packaging 
pandas 
parso 
patsy 
pexpect 
pickleshare 
pillow 
platformdirs 
ply 
prompt_toolkit 
psutil 
psycopg2 
ptyprocess 
pure_eval 
pyarrow 
pyerfa 
Pygments 
pyparsing 
PyQt5==5.15.10
PyQt5-sip 
PySocks 
python-dateutil 
pytz 
PyYAML 
pyzmq 
requests 
scipy 
setuptools==75.1.0
sip 
six 
SQLAlchemy 
stack-data 
statsmodels 
tornado 
tqdm 
traitlets 
typing_extensions 
tzdata 
unicodedata2 
urllib3 
wcwidth 
wheel==0.44.0
zipp 
